{% extends 'base.html.twig' %}

{% block title %}Changer de mot de passe{% endblock %}

{% block body %}

    <h1>Votre nouveau mot de passe</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if message is defined %}
        {{ message }}
    {% endif %}
{% endblock %}
