{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h1>Mettre à jour une promotion</h1>
    <li><a href="{{asset('/admin')}}">Retour Admin</a></li>

{% endblock %}
